.modal-panel {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0, .8);
  z-index: 1;
}

.modal-content-panel {
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;
  width: 75%;
  position: absolute;
  animation-name: opening-modal;
  animation-duration: 2s;
}

@keyframes opening-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-box {
  display: none;
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
}

nav {
  background-color: rgb(57, 180, 217);
  margin: auto;
  position: absolute;
  top: 90px;
  left: 50%;
}

nav a {
  background-color: rgb(238, 162, 58);
  display: block;
  line-height: 25px;
  margin: 5px;
  width: 125px;
  padding: 5px;
  text-align: center;
}

nav ul li {
  text-align: center;
  width: 150px;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav > ul > li > ul {
  position: absolute;
  left: 0;
  visibility: hidden;
}

nav > ul > li:hover > ul {
  visibility: visible;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(57, 180, 217);
  text-align: right;
  padding-top: 30px;
  padding-right: 5px;
  font-size: large;
}

main {
  color: rgb(74, 74, 74);
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}
