.modal-panel {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0, .8);
  z-index: 1;
}

.modal-content-panel {
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;
  width: 75%;
  position: absolute;
  animation-name: opening-modal;
  animation-duration: 2s;
}

header {
  text-align: right;
  background-color: rgb(57, 180, 217);
}

main {
  color: rgb(74, 74, 74);
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@keyframes opening-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
